<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — Erasmus+ CLASS</title>
<body>
  <header>
    <nav>
      <ul class="nav navbar-nav lang" align="right">
        <li><a href="/" title="Главная страница (на русском)">ru</a></li>
        <li><a href="/kz" title="Басты бет (қазақша)">kz</a></li>
        <li><a href="/en" title="Main page (in English)">en</a></li>
      </ul>
    </nav>
    <img src="/static/COMP-LINGUI-LOGO_FINAL.jpg" height="100px" align="left" hspace="10" />
    <img src="/static/kaznu-logo.jpg" height="100px" align="right" hspace="10" />
    <h1>Erasmus+ CLASS</h1>
    <h4>Interdisciplinary Master Program on Computational Linguistics at Central Asian Universities</h4>
    <h5 align="center">al-Faraby KazNU team web-site</h5>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/blog', 'Project Highlights'],
          ['/info4students', 'Information for Students'],
          ['/contacts', 'Contacts']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2018 by KazNU.
  </footer>
</body>
